@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto+Mono&family=Roboto+Slab:wght@300&family=Roboto:wght@300;400&family=Rubik&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-main {
    display: grid;
    height: inherit;
    grid-template-rows: 1fr 10fr;
    gap: 20px;
}

.header-main header {
    display: flex;
    min-width: 50%;
    background-color: #ececec;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 119, 255, 0.3) 0px 0px 0px 3px;
}

.header-main header h4 {
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
}

.header-main main {
    display: grid;
    grid-template: 1fr / 1fr;
    justify-items: center;
    align-items: center;
}

.header-main main .center-books {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    padding: 25px;
}

.header-main main .center-books .book {
    width: 400px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-main main .center-books .book .book-read-checkbox {
    display: flex;
    gap: 10px;
}

.header-main main .center-books .book .book-read-checkbox label {
    vertical-align: middle;
}

/* CSS */
.header-main header .header-text .add-reading {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  color: #121212;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 1.2rem;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
}

.header-main header .header-text .add-reading:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.header-main header .header-text .add-reading:active {
    transform: scale(0.98);
}

.form-popup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-self: center;
    align-self: center;
}

.form-popup {
    display: none;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    gap: 20px;
    background-color: #ececec;
    height: 325px;
    width: 275px;
    border-radius: 25px;
}

.form-popup .input-text  {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-popup .input-text input {
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 12px;
}

.form-popup .input-checkbox {
    display: flex;
    gap: 10px; 
}

.form-popup .input-checkbox label {
    padding-top: 1px;
}

/* Checkbox decorations. */
.form-popup .input-checkbox input,
.header-main main .center-books .book .book-read-checkbox input {
    appearance: none;
    background-color: red;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 50px;
}

.form-popup .input-checkbox input,
.form-popup .input-checkbox input::after,
.header-main main .center-books .book .book-read-checkbox input,
.header-main main .center-books .book .book-read-checkbox input::after {
    transition: all 100ms ease-out;
}

.form-popup .input-checkbox input::after,
.header-main main .center-books .book .book-read-checkbox input::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.form-popup .input-checkbox input[type=checkbox],
.header-main main .center-books .book .book-read-checkbox input[type=checkbox] {
    cursor: default;
}

.form-popup .input-checkbox input:checked,
.header-main main .center-books .book .book-read-checkbox input:checked {
    background-color: green;
}

.form-popup .input-checkbox input:checked::after,
.header-main main .center-books .book .book-read-checkbox input:checked::after {
    background-color: #fff;
    left: 32px;
}

/* Form button */
.form-popup input[type=button] {
    height: 30px;
    width: 100px;
    border: none;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
}

.form-popup input[type=button]:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.form-popup input[type=button]:active {
    transform: scale(0.95);
}


/* Delete button */
.header-main main .center-books .book .book-del-btn {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  min-height: 40px;
  padding: 12px 14px;
  text-align: center;
  vertical-align: middle;
}

.header-main main .center-books .book .book-del-btn:hover,
.header-main main .center-books .book .book-del-btn:active {
  background-color: initial;
  color: #FF4742;
}




